<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GiltTrest</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#/sales/women">Women</a></li>
        <li><a href="/#/sales/men">Men</a></li>
        <li><a href="/#/sales/home">Home</a></li>
        <li><a href="/#/sales/kids">Kids</a></li>
        <li><a href="/#/sales/pinned">Pinned</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/login">Login</a></li>
        <li><a href="/#/register">Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="form-container">
  <form>
    <h3>Login now to start pinning sales!</h3>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" ng-model="user.username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="user.password">
    </div>
    <button type="submit" class="btn btn-default" ng-click="login($event)">Submit</button>
  </form>
  <br>
  <p>Never registered? <a href="/#/register">Register here</a></p>
</div>
